.emptyHeading {
  text-align: center;
  padding: 118px 0px 119px 0px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
}
.cartContainer {
  background-color: #dadada;
}
.cart {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cartBody {
  width: 68%;
}
.checkoutSummery {
  width: 28%;
  background-color: white;
  border-radius: 3px;
  padding: 15px;
}
.textRight {
  text-align: right;
}
hr {
  margin: 20px 0px 20px 0px;
}
select {
  width: 100%;
  padding: 10px;
}
.cartHeader {
  background-color: white;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartHeader div:nth-child(2) {
  text-align: right;
}
.cartDetails {
  background-color: white;
  border-radius: 3px;
  padding: 15px;
}
table {
  width: 100%;
  border-bottom: 1px dashed #bebebe;
}
td {
  padding: 15px 0px 15px 0px;
}
.checkoutBtn {
  background-color: white;
  border: 3px solid #ea4064;
  border-radius: 0px;
  color: #ea4064;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
}
.checkoutBtn:hover {
  background-color: #ea4064;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
