.header {
  height: 583px;
  background-image: url("../../../imgs/headerBg.png");
  background-size: 100%;
}
.header > div {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 150px;
}
.header > div h1 {
  font-size: 50px;
}
.header > div input {
  border: none;
  border-radius: 30px;
  width: 500px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 50px;
}
.header > div button {
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  background-color: #fa4064;
  color: white;
  position: relative;
  right: 103px;
}
.header > div button:hover {
  cursor: pointer;
}
