.navParent {
  padding: 10px 0px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 3px 10px #d3d3d3;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.navbar div:nth-child(1) img {
  width: 180px;
}
.navbar div:nth-child(2) a:nth-child(-n + 3) {
  margin-right: 30px;
}
.navbar div:nth-child(2) a {
  text-decoration: none;
  color: black;
}
.navbar div:nth-child(2) .primaryBtn {
  background-color: #fa4064;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
}
.name {
  margin-right: 30px;
}
